.games{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}
.games2 > .pokeApi{
    width: 300px;
    height: 300px;
    background-color: yellow;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.games2 > .ppt{
    width: 300px;
    height: 300px;
    background-color: yellow;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.games2 > .quiz{
    width: 300px;
    height: 300px;
    background-color: yellow;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.games2 > .ahorcado{
    width: 300px;
    height: 300px;
    background-color: yellow;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    border-style: solid;
    padding: 20px;
    background-color: orange;
}

.welcome > .logOut {
    width: 100px;
    height: 50px;
    background-color: black;
    color: white;
}

.games2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;

}