.games{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    flex-wrap: wrap;
}

.games2{
    flex-wrap: wrap;
}
.games2 > .pokeApi{
    width: 320px;
    height: 320px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: transparent;
}
.games2 > .ppt{
    width: 320px;
    height: 320px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: transparent;
}

.games2 > .ahorcado{
    width: 320px;
    height: 320px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: transparent;
}

.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    border-style: solid;
    padding: 20px;
    background-color: none;
    border: none;
    border-radius: 10px;
    font-size: 30px;
}

.h1Title{
    border-bottom: solid black;
}

.welcome > .logOut {
    width: 100px;
    height: 50px;
    background-color: black;
    color: white;
}

.games2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;

}

@media (max-width: 400px){
    .welcome{
        width: 350px;
    }
}